* {
    margin: 0;
    padding: 0;
}

body {
    max-height: 100vh;
}

#root {
    justify-content: center;
    display: flex;
    max-height: 100vh;
}

@media screen and (min-width: 1024px) {
    #root {
        align-items: center;
        height: 100%
    }
    body {
        height: 100vh;
    }
}